@define-color rosewater #dcf5ff;
@define-color flamingo #c8ebff;
@define-color pink #b8dcff;
@define-color mauve #92b8ff;
@define-color red #e06b75;
@define-color maroon #bc5a63;
@define-color peach #9ec8ff;
@define-color yellow #8cc6df;
@define-color green #6cb0d4;
@define-color teal #4da7d3;
@define-color sky #92b8ff;
@define-color sapphire #5baed8;
@define-color blue #198cc1;
@define-color lavender #b7d3ff;
@define-color text #dcf5ff;
@define-color subtext1 #cce8f4;
@define-color subtext0 #b2d4e2;
@define-color overlay2 #95b2be;
@define-color overlay1 #6f909c;
@define-color overlay0 #4f707a;
@define-color surface2 #3f606a;
@define-color surface1 #304f59;
@define-color surface0 #2a454f;
@define-color base #223f47;
@define-color mantle #1c353d;
@define-color crust #172d33;
