@define-color rosewater #f6fbff;
@define-color flamingo #eef7ff;
@define-color pink #e7f3ff;
@define-color mauve #8fbfff;
@define-color red #c94b63;
@define-color maroon #a93f54;
@define-color peach #b9daff;
@define-color yellow #c0deff;
@define-color green #409fc2;
@define-color teal #2e9cc4;
@define-color sky #4eaee4;
@define-color sapphire #2b99d4;
@define-color blue #198cc1;
@define-color lavender #9cc7ff;
@define-color text #13333f;
@define-color subtext1 #1d4655;
@define-color subtext0 #2f5d6d;
@define-color overlay2 #5f8798;
@define-color overlay1 #84a9b9;
@define-color overlay0 #b5d0dc;
@define-color surface2 #5e8799;
@define-color surface1 #e2f0f8;
@define-color surface0 #edf6fc;
@define-color base #f3faff;
@define-color mantle #eaf5fc;
@define-color crust #223f47;
