@define-color rosewater #e8ddbf;
@define-color flamingo #d6a08f;
@define-color pink #d3b6a2;
@define-color mauve #c0b28c;
@define-color red #e0625b;
@define-color maroon #bb7157;
@define-color peach #e8ad72;
@define-color yellow #fdd365;
@define-color green #867e32;
@define-color teal #99c1b4;
@define-color sky #badce7;
@define-color sapphire #9cbec8;
@define-color blue #d2eaf1;
@define-color lavender #d8cfaa;
@define-color text #d2eaf1;
@define-color subtext1 #bdd0d6;
@define-color subtext0 #a7b8be;
@define-color overlay2 #9a9f98;
@define-color overlay1 #8a8478;
@define-color overlay0 #7e7768;
@define-color surface2 #666054;
@define-color surface1 #524d43;
@define-color surface0 #413d35;
@define-color base #2f2b25;
@define-color mantle #26231f;
@define-color crust #1b1916;
