/*
 * Active Waybar palette: Olive
 * To switch, comment this block and uncomment the Mocha block below.
 */
@define-color rosewater #e8ddbf;
@define-color flamingo #d6a08f;
@define-color pink #d3b6a2;
@define-color mauve #c0b28c;
@define-color red #e0625b;
@define-color maroon #bb7157;
@define-color peach #e8ad72;
@define-color yellow #fdd365;
@define-color green #867e32;
@define-color teal #99c1b4;
@define-color sky #badce7;
@define-color sapphire #9cbec8;
@define-color blue #d2eaf1;
@define-color lavender #d8cfaa;
@define-color text #d2eaf1;
@define-color subtext1 #bdd0d6;
@define-color subtext0 #a7b8be;
@define-color overlay2 #9a9f98;
@define-color overlay1 #8a8478;
@define-color overlay0 #7e7768;
@define-color surface2 #666054;
@define-color surface1 #524d43;
@define-color surface0 #413d35;
@define-color base #2f2b25;
@define-color mantle #26231f;
@define-color crust #1b1916;

/*
 * Mocha palette (fallback):
 * Uncomment this block and comment the Olive block above.
 */
/* @define-color rosewater #f5e0dc; */
/* @define-color flamingo #f2cdcd; */
/* @define-color pink #f5c2e7; */
/* @define-color mauve #cba6f7; */
/* @define-color red #f38ba8; */
/* @define-color maroon #eba0ac; */
/* @define-color peach #fab387; */
/* @define-color yellow #f9e2af; */
/* @define-color green #a6e3a1; */
/* @define-color teal #94e2d5; */
/* @define-color sky #89dceb; */
/* @define-color sapphire #74c7ec; */
/* @define-color blue #89b4fa; */
/* @define-color lavender #b4befe; */
/* @define-color text #cdd6f4; */
/* @define-color subtext1 #bac2de; */
/* @define-color subtext0 #a6adc8; */
/* @define-color overlay2 #9399b2; */
/* @define-color overlay1 #7f849c; */
/* @define-color overlay0 #6c7086; */
/* @define-color surface2 #585b70; */
/* @define-color surface1 #45475a; */
/* @define-color surface0 #313244; */
/* @define-color base #1e1e2e; */
/* @define-color mantle #181825; */
/* @define-color crust #11111b; */
